<div>
    <button mat-button>Click Me!</button>
    <button mat-raised-button>I am a raised button </button>
    <button mat-flat-button>I am a flat button</button>
    <button mat-stroked-button>I am button with outline</button>
  </div>
  
  <div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>Mini Fab</button>
  </div>
  
  <div>
    <button mat-button color="primary">Primary Button</button>
    <button mat-button color="accent">Accent Button</button>
    <button mat-button color="warn">Warn Button</button>
  </div>
  <div>
    <button mat-raised-button color="primary">Primary Button</button>
    <button mat-raised-button color="accent">Accent Button</button>
    <button mat-raised-button color="warn" disableRipple>Warn Button</button>
  </div>
  
  <div>
    <mat-icon>accessibility</mat-icon>
    <mat-icon color="primary">accessibility</mat-icon>
    <mat-icon color="accent">accessibility</mat-icon>
    <mat-icon color="warn">accessibility</mat-icon>
  </div>
  
  